.job-filter-button {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.job-filter-button--delete {
    margin: 0 0 0 5px;
    line-height: 0;
    font-weight: bold;
}
.job-filter-button--blue {
    background-color: #0b2265;
}
.job-filter-button--grey {
    background-color: #3a3a3a;
}
.job-filter-button--green {
    background-color: #00c0ab;
}