
.job-list-container {
    text-transform: capitalize;
}
.job-list-row {
    display: none;
    padding: 10px 15px;
    border-top: 1px solid #d5d5d5;

    &--total {
        border: none;
    }

    &--title,
    &--total {
        display: flex;
        padding: 10px 15px;
        border-top: 0;
        border-bottom: 1px solid #d5d5d5;
    }

    &--total p {
        margin: 0;
        font-size: 15px;
        line-height: 20px;
    }
}

.job-list-row.job-list-row--active.job-list-row--filtered {
    display: flex;
}

.job-list-column {
    padding-right: 10px;

    p {
        margin: 0;
        font-size: 15px;
        line-height: 20px;
        strong {
            color: #0b2265;
        }
    }

    &--large {
        width: 60%;
        @include breakpoint(tablet-max) {
            width: 40%;
        }
    }

    &--small {
        width: 20%;
        @include breakpoint(tablet-max) {
            width: 30%;
        }
    }

}
